.avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border: 4px solid var(--gray800);
    outline: 2px solid var(--green500);
    box-sizing: initial;
}
.avatarSemBorda{
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    box-sizing: initial;
}
.avatarSidebar{
    width: 6rem;
    height: 6rem;
    border-radius: 8px;
    border: 4px solid var(--gray800);
    outline: 2px solid var(--green500);
    box-sizing: initial;
}